<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{T .CurrentLang "common.site_title"}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{{T .CurrentLang "common.toggle_navigation"}}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{range .Site.MenuItems}}
                <li class="nav-item">
                    <a class="nav-link" href="{{.URL}}">{{.Text}}</a>
                </li>
                {{end}}
            </ul>
            <div class="language-switcher">
                <select id="lang-select" class="form-select form-select-sm">
                    <option value="en">{{T .CurrentLang "common.lang_en"}}</option>
                    <option value="zh">{{T .CurrentLang "common.lang_zh"}}</option>
                    <option value="ja">{{T .CurrentLang "common.lang_ja"}}</option>
                </select>
            </div>
        </div>
    </div>
</nav>