{{template "header.html" .}}
{{template "nav.html" .}}

<main>
    <section class="hero text-center py-5 bg-light">
        <div class="container">
            <h1 class="display-4 mb-3">{{.Page.Title}}</h1>
            <p class="lead">{{.Page.Description}}</p>
        </div>
    </section>

    <section class="content py-5">
        <div class="container">
            <div class="lead">
                {{.Page.Message}}
            </div>
        </div>
    </section>
</main>

{{template "footer.html" .}}